html, body {
    background-image: url("../images/leaves-pattern.png");
}

* {
    box-sizing: border-box;
}

h1 {
    font-family:'Charmonman', cursive;
    font-size: 100px;
    color: rgb(22, 87, 51);
}
.mainAll {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.d-none {
    display: none;
}

.mainWidth {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}


.nav-wrapper {
    background-color:#4aaaa5;
}


.calendar {
    width: 100%;
    background: white;
}

ul {list-style-type: none;}

/* Month header */
.month {
    padding: 20px;
    width: 100%;
    background: #4aaaa5;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

.my-table {
    border: 1px solid #1C6EA4;
    background-color: #f7f8f8;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: black;
    font-weight: 500;
}

table.my-table td, table.my-table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
    height: 100px;
    width:100px;
}


table.my-table tbody td {
    vertical-align: text-top;
    font-size: 13px;
}

table.my-table thead {
    background: #fff;
    text-align: center;
    border-bottom: 2px solid #444444;
}
table.my-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    border-left: 2px solid whitesmoke;
}

.bg-info{
    background-color: #4aaaa5;
    color: #000000;
}

.bg-event{
    background-color: #4aaaa5;
    color: #FFF;
}

p{
    color: #FFF;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    display: block;
    background: url('../images/calendar.png') no-repeat;
    height: 15px;
    border-width: thin;
    z-index:5;
}

.event-title{
    border-bottom: 1px solid #b4b4b4;
    padding: 5px;
}

.inputColumn {
    height: 140px;
}



/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* for the carousel */
.card .card-content p {
    color:#039be5;
}

/* for the carousel */
.card .card-content {
    padding: 5px;
    cursor: pointer;
    /* background-color: #4aaaa5; */
}

/* for the carousel */
.card .card-image .card-title {
    padding: 5px;
    width: 100%;
    color: #ffffff;
    background-color:rgba(52, 52, 52, 0.4); 
}

/* for the carousel */
.card-button {
    padding: 0px 3px 0px 3px;
    margin: 0px 2px 0px 2px;
}

/* for the carousel */
#iCard {
    margin-left: 0px;
}

/* for the events search form */
label {
    font-size: 18px;
}
